* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1rem;
}

.images__container {
  width: 100%;
  overflow-x: hidden;
}

.images__track {
  width: 500%;
  display: flex;
  flex-flow: row nowrap;
  transition: 500ms transform ease-in-out;
}

.images__image-wrapper {
  width: 20%;
  display: flex;
  justify-content: center;
}

.image {
  height: 25rem;
}

.footer__container {
  width: 100%;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .footer__container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
  }
}

.text__container {
  width: 100%;
  overflow-x: hidden;
}

.text__track {
  width: 500%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  transition: 500ms transform ease-in-out;
}

.text__punchline {
  width: 20%;
  text-wrap: nowrap;
}

.controls__container {
  display: flex;
  flex-flow: row nowrap;
}

body:has(#meme1:checked) .images__track,
body:has(#meme1:checked) .text__track {
  transform: translateX(calc(-20%*0));
}

body:has(#meme2:checked) .images__track,
body:has(#meme2:checked) .text__track {
  transform: translateX(calc(-20%*1));
}

body:has(#meme3:checked) .images__track,
body:has(#meme3:checked) .text__track {
  transform: translateX(calc(-20%*2));
}

body:has(#meme4:checked) .images__track,
body:has(#meme4:checked) .text__track {
  transform: translateX(calc(-20%*3));
}

body:has(#meme5:checked) .images__track,
body:has(#meme5:checked) .text__track {
  transform: translateX(calc(-20%*4));
}